@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

@mixin inner-container($half-top-padding: false) {
  @if $half-top-padding {
    padding: calc(var(--base-padding) / 2) var(--base-padding);
  } @else {
    padding: var(--base-padding);
  }

  background: var(--background-primary);
  border-radius: var(--base-border-radius);
  margin-bottom: var(--base-margin);
}

.app {
  --background-primary: rgb(35, 4, 49);
  --background-secondary: rgb(28, 0, 40);
  --background-tertiary: rgb(13, 0, 23);
  --preview-background: rgb(45, 15, 61);

  --base-border-radius: 10px;
  --base-padding: 20px;
  --base-margin: 10px;

  --text-normal: rgb(220, 221, 222);
  --text-small: rgb(114, 118, 125);
  --text-link: rgb(58, 195, 184);
  --text-link-active: rgb(5, 207, 255);

  color: var(--text-normal);
  font-family: "Inter", sans-serif;
  background: var(--background-tertiary);
}

.link {
  color: var(--text-link);
  text-decoration: none;

  &:active {
    color: var(--text-link-active);
  }
}

.main {
  background: var(--background-secondary);
  width: fit-content;
  padding: var(--base-padding);
  margin: var(--base-margin) auto;
  border-radius: calc(var(--base-border-radius) * 2);
}

.intro {
  @include inner-container($half-top-padding: true);
}

.socials {
  float: right;
  padding: 0 calc(var(--base-padding) / 3);
  background: var(--preview-background);
  border-radius: calc(var(--base-border-radius) / 2);
}

.social {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;

  &--github {
    background-image: url("assets/github_logo.png");
  }

  &--spotify {
    background-image: url("assets/spotify_logo.png");
  }

  &--discord {
    background-image: url("assets/discord_logo.png");
  }
}

.direct-contact {
  color: var(--text-small);
}

.projects {
  @include inner-container($half-top-padding: true);

  &__list {
    list-style: none;
    padding-left: unset;
  }
}

.project {
  background: var(--preview-background);
  border-radius: var(--base-border-radius);
  margin-bottom: var(--base-margin);
  padding: var(--base-padding);
  padding-top: calc(var(--base-padding) / 5);

  &__name {
    text-align: center;
  }

  &__description {
    text-align: center;
  }

  &__preview {
    width: 683px;
  }
}

.favourites {
  @include inner-container($half-top-padding: true);

  &__most-favourite {
    margin-bottom: var(--base-margin);
    color: var(--text-small);
  }
}

.footer {
  @include inner-container($half-top-padding: true);
  margin: unset;
  color: var(--text-small);
}