@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

@mixin inner-container($half-top-padding: false) {
  @if $half-top-padding {
    padding: calc(var(--base-padding) / 2) var(--base-padding);
  } @else {
    padding: var(--base-padding);
  }

  background: var(--background-primary);
  border-radius: var(--base-border-radius);
  margin-bottom: var(--base-margin);
}

.app {
  --background-primary: rgb(35, 4, 49);
  --background-secondary: rgb(28, 0, 40);
  --background-tertiary: rgb(13, 0, 23);
  --base-border-radius: 10px;
  --base-padding: 20px;
  --base-margin: 10px;
  --text-normal: rgb(220, 221, 222);
  --text-small: rgb(114, 118, 125);

  color: var(--text-normal);
  font-family: "Inter", sans-serif;
  background: var(--background-tertiary);
}

.main {
  background: var(--background-secondary);
  width: fit-content;
  padding: var(--base-padding);
  margin: var(--base-margin) auto;
  border-radius: calc(var(--base-border-radius) * 2);
}

.intro {
  @include inner-container($half-top-padding: true);
}

.favourites {
  @include inner-container($half-top-padding: true);

  &__list {
    padding-left: unset;
  }

  &__item {
    background: linear-gradient(to right, rgb(167, 100, 237), rgb(226, 146, 170));
    color: transparent;
    background-clip: text; // Thanks autoprefixer
  }

  &__most-favourite {
    margin: unset;
    margin-bottom: var(--base-margin);
    color: var(--text-small);
  }
}

.social {
  display: inline;
  width: fit-content;
  height: 20px;
  border-radius: calc(var(--base-border-radius) - 2px);
  text-decoration: none;
  padding: 5px 12px;
  margin: calc(var(--base-margin) / 3.25);

  &s { // .socials
    @include inner-container;

    &__list { // .socials__list
      list-style: none;
      padding-left: unset;
      margin: unset;
      text-align: center;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--social-text-link);
  }

  &--github {
    --social-text-link: rgb(88, 166, 255);
    background: rgb(4, 15, 33);
  }

  &--spotify {
    --social-text-link: black;
    background: rgb(28, 208, 93);
  }

  &--discord {
    --social-text-link: white;
    background: rgb(110, 133, 211);
  }
}

.footer {
  @include inner-container($half-top-padding: true);
  margin: unset;
  color: var(--text-small);
}