@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
.app {
  --background-primary: rgb(35, 4, 49);
  --background-secondary: rgb(28, 0, 40);
  --background-tertiary: rgb(13, 0, 23);
  --preview-background: rgb(45, 15, 61);
  --base-border-radius: 10px;
  --base-padding: 20px;
  --base-margin: 10px;
  --text-normal: rgb(220, 221, 222);
  --text-small: rgb(114, 118, 125);
  --text-link: rgb(58, 195, 184);
  --text-link-active: rgb(5, 207, 255);
  color: var(--text-normal);
  font-family: "Inter", sans-serif;
  background: var(--background-tertiary);
}

.link {
  color: var(--text-link);
  text-decoration: none;
}
.link:active {
  color: var(--text-link-active);
}

.main {
  background: var(--background-secondary);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: var(--base-padding);
  margin: var(--base-margin) auto;
  border-radius: calc(var(--base-border-radius) * 2);
}

.intro {
  padding: calc(var(--base-padding) / 2) var(--base-padding);
  background: var(--background-primary);
  border-radius: var(--base-border-radius);
  margin-bottom: var(--base-margin);
}

.projects {
  padding: calc(var(--base-padding) / 2) var(--base-padding);
  background: var(--background-primary);
  border-radius: var(--base-border-radius);
  margin-bottom: var(--base-margin);
}
.projects__list {
  list-style: none;
  padding-left: unset;
}

.project {
  background: var(--preview-background);
  border-radius: var(--base-border-radius);
  margin-bottom: var(--base-margin);
  padding: var(--base-padding);
  padding-top: calc(var(--base-padding) / 5);
}
.project__name {
  text-align: center;
}
.project__description {
  text-align: center;
}
.project__preview {
  width: 683px;
}

.favourites {
  padding: calc(var(--base-padding) / 2) var(--base-padding);
  background: var(--background-primary);
  border-radius: var(--base-border-radius);
  margin-bottom: var(--base-margin);
}
.favourites__most-favourite {
  margin-bottom: var(--base-margin);
  color: var(--text-small);
}

.socials {
  padding: var(--base-padding);
  background: var(--background-primary);
  border-radius: var(--base-border-radius);
  margin-bottom: var(--base-margin);
}
.socials__list {
  list-style: none;
  padding-left: unset;
  margin: unset;
  text-align: center;
}

.social {
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  border-radius: calc(var(--base-border-radius) - 2px);
  text-decoration: none;
  padding: 5px 12px;
  margin: calc(var(--base-margin) / 3.25);
}
.social__link {
  text-decoration: none;
  color: var(--social-text-link);
}
.social--github {
  --social-text-link: rgb(88, 166, 255);
  background: #040f21;
}
.social--spotify {
  --social-text-link: black;
  background: #1cd05d;
}
.social--discord {
  --social-text-link: white;
  background: #6e85d3;
}

.footer {
  padding: calc(var(--base-padding) / 2) var(--base-padding);
  background: var(--background-primary);
  border-radius: var(--base-border-radius);
  margin-bottom: var(--base-margin);
  margin: unset;
  color: var(--text-small);
}